@media(max-width:1330px) {
  .main__cards {
    justify-content: center;
    gap: 24px;
  }

  .header__card-content {
    text-align: center;
  }
}

@media(max-width:1200px) {
  .header__nav {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }

  .header__logo {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }

  .header__card-three img {
    max-width: 146px;
    width: 100%;
  }

  .header__card-one img {
    max-width: 146px;
    width: 100%;
  }

  .header__card-two img {
    max-width: 146px;
    width: 100%;
  }

  .main__innerdate {
    bottom: 40px;
    left: 90px;
  }

  .main__innercontent img {
    bottom: 40px;
    left: 60px;
  }

  .footer__links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
  }

  .main__innersubtitle {
    font-size: 18px;
  }

  .main__innerlowertext {
    font-size: 14px;
  }

}

@media(max-width:1150px) {

  .main__innercontent img {
    bottom: 20px;
    left: 60px;
  }

  .main__innerdate {
    bottom: 20px;
    left: 90px
  }
}


@media(max-width:1000px) {
  .main__innerdate {
    bottom: 20px;
    left: 90px;
  }

  .main__innercontent img {
    bottom: 20px;
    left: 60px;
  }

  .main__innerblocks {
    flex-direction: column;
  }

  .main__innerlowertext {
    max-width: 700px;
    font-size: 30px;
    line-height: 40px;
    /* top: 250px; */
    padding-top: 250px;
  }

  .main__innersubtitle {
    max-width: 700px;
    font-size: 34px;
    line-height: 54px;
  }

}


@media(max-width:992px) {
  .footer__content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 50px;
  }

  .footer__links {
    text-align: center;
  }

  .footer__icons {
    justify-content: center;
  }

  .footer__text {
    margin-top: 30px;
  }

  .footer__product {
    gap: 30px;
  }

  .footer__logo {
    gap: 30px;
  }

  .list {
    flex-direction: column;
    gap: 20px;
  }

  .header__nav {
    gap: 30px;
  }

}

@media(max-width:900px) {
  .header__content {
    grid-template-areas: 'one'
      'two'
      'three';
  }

  .header__card-three {
    padding: 73px 46px 47px 110px;
  }
}


@media(max-width:800px) {
  .main__innerlowertext {
    /* max-width: 700px; */
    font-size: 20px;
    line-height: 40px;
    padding-top: 200px;

  }

  .main__innersubtitle {
    /* max-width: 500px; */
    font-size: 24px;
    line-height: 54px;
  }
}

@media(max-width:768px) {
  .main__innerlowertext {
    /* max-width: 500px; */
    font-size: 15px;
    line-height: 30px;
    padding-top: 180px;

  }

  .main__innersubtitle {
    /* max-width: 500px; */
    width: 100%;
    font-size: 19px;
    line-height: 34px;
  }

  .main__advice {
    padding: 10px 20px;
  }

  .main__advice p {
    font-size: 15px;
  }

}


@media(max-width:660px) {
  .main__innerlowertext {
    /* max-width: 500px; */
    font-size: 15px;
    line-height: 30px;
    padding-top: 200px;

  }

  .main__innersubtitle {
    /* max-width: 500px; */
    width: 100%;
    font-size: 19px;
    line-height: 34px;

  }
}


@media(max-width:590px) {
  .main__innerlowertext {
    /* max-width: 500px; */
    font-size: 15px;
    line-height: 30px;
    padding-top: 200px;

  }

  .main__innersubtitle {
    /* max-width: 500px; */
    width: 100%;
    font-size: 19px;
    line-height: 34px;

  }
}


@media(max-width:540px) {
  .main__advice {
    padding: 5px 15px;
  }

  .main__advice p {
    font-size: 10px;
  }


  .main__innerlowertext {
    /* max-width: 500px; */
    font-size: 15px;
    line-height: 20px;
    padding-top: 150px;

  }

  .main__innersubtitle {
    /* max-width: 500px; */
    width: 100%;
    font-size: 19px;
    line-height: 24px;
    padding-top: 80px;
  }
}


@media(max-width:420px) {
  .main__innerlowertext {
    /* max-width: 500px; */
    font-size: 15px;
    line-height: 18px;
    padding-top: 100px;

  }

  .main__innersubtitle {
    /* max-width: 500px; */
    width: 100%;
    font-size: 15px;
    line-height: 20px;
    padding-top: 55px;
  }


  .main__advice {
    padding: 3px 8px;
  }

  .main__advice p {
    font-size: 7px;
  }

  .main__innerdate {
    font-size: 13px;
  }

  .header__card-one {
    flex-direction: column;
  }

  .header__card-two {
    flex-direction: column;
  }

  .header__card-three {
    flex-direction: column;
  }

  .header__content {
    display: flex;
    flex-direction: column;
  }

  .header__card-three img {
    max-height: 500px;
  }

  .header__absolute p {
    padding: 8px 20px;

    font-size: 15px;
  }

  .main__discount {
    padding: 10px 33px;
  }

  .main__percent {
    font-size: 15px;
  }

  .main__card-info img {
    max-width: 130px;
  }

  .main__span-uppercase {
    text-align: center;
  }

  .main__heart {
    padding: 10px 10px;
  }

  .main__basket {
    padding: 10px 10px;
    top: 80px;
  }
}


@media(max-width:365px) {
  .main__innerlowertext {
    /* max-width: 500px; */
    font-size: 10px;
    line-height: 18px;
    padding-top: 85px;

  }

  .main__innersubtitle {
    /* max-width: 500px; */
    width: 100%;
    font-size: 10px;
    line-height: 20px;
    padding-top: 40px;
  }

  .main__advice {
    padding: 3px 8px;
    top: 8px;
  }

  .main__innerdate {
    font-size: 8px;
  }

  .header__card-one {
    padding: 71px 50px 47px 119px;
  }

}